html{
    scroll-behavior: smooth;
}

body {

    background: linear-gradient(rgba(0, 0, 255, 1), rgba(0, 255, 0, 1));
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem ;
}

header {
    position: sticky;
    top: 0;
}

.navbar {
    padding: 0rem;
    margin: 0rem;
    /* place-self: right; */
    background: green;
    display: inline-flex;
    width: 100%;
    height: 8rem;



}

.logoalue   {
    width: 50%;
    position: relative;

}

.pupulogo {
    width: auto;
    height: 100%;
    display: block;
}

.logoteksti {
    position: absolute;
    bottom: 8px;
    left: 8px;
    color: white;
    outline-color: black;
    outline-width: thick;

}


.nappulaalue {
    width: 50%;
    display: inline-flex;
}

.button {
    display: inline-block;
    height: 100%;
    width: 33.33%;

    background-color: red;
    /* border: none; */
    /*border-color: red ; */
    color: white;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    margin: 0 0;
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    opacity: 0.5;
    transition: 0.3s;
}


.otsikkoalue {
    WIDTH: 100%;
    BACKGROUND-COLOR: white;
}

.otsikko1 {
    text-align: center;
    font-size: 6rem;
    font-family: arial, bold, serif;

}

.otsikko2 {
    text-align: center;
    font-size: 3rem;
    width: 100%;
}



.etusivukuvaalue {
    width: 100%;
    place-content: center;
    place-items: center;
    background-color: blueviolet;

}


.etusivukuva {
    height: auto;
    width: 40%;
    display: block;
    /*box-shadow: 0rem 0rem 10000rem red ; */

}

.etusivuteksti {
    padding: 2rem;
    font-size: 2rem;
    bottom-margin: 5rem;

}

section2 {
    margin-top: 10rem;
    padding-top: 20rem;
}

.otsikko_puput {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding-top: 10rem;
}

.levea_kuva {
    width: 100%;

}



.pupuruudut {
    background-color: yellow;
    /* background-size: cover; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    /*place-content: center; */
    /*place-self: center; */

}

.pupuruutu {

    /* float: left; */
    height: 50rem;
    width: 30%;
    margin: 1rem;
    background-color: aqua;
    padding: 1rem;
    /* place-self: center; */
    box-shadow: 2rem 2rem 1rem rgba(0,0,0,50%);
    cursor: pointer;
     /* transition: width 2s, margin 2s, height 2s; */
    border-radius: 2rem;
    overflow: hidden;
    box-sizing: border-box;
}

.pupuruutu:hover {
    background-color: white;

    /* Koon muuttuminen hyvä vai ei? */
}

.figcaption {
    padding-left: 5rem;
}

.kuva_alue1 {
    /*background-color: red; */
    /*background-size: auto; */
    /*place-self: auto; */
    /* position: static; */
    padding: 1rem;
    /* display: inherit; */
    overflow: hidden;
    margin: 0;
}


.pupukuva {
    height: 15rem;
    width: 18rem;
    padding: 1rem;
    position: static;
    /* display: inherit; */
    place-self: center;
}


.kuvaotsikko1 {
    text-align: center;
    font-size: 2rem;
    font-family: arial, sans-serif, bold;
    padding: 1rem;
    /* position: static; */
    /* display: inherit; */
    overflow: hidden;
    margin: 0;
    place-self: center;
    display: block;

}

.kuvaotsikko2 {
    text-align: center;
    font-size: 1rem;
    font-family: arial, sans-serif, bold;
    margin: 0;
    display: block;
}



.kuvateksti1 {
     /* text-align: center; */
    margin: 0rem;
    padding: 1rem;
    position: static;
    /* display: inherit; */
    overflow: hidden;

}



section3 {
    margin-top: 10rem;
    display: block;
    margin-bottom: 50rem;
    height: 100%;
}

.contact_otsikko {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding-top: 10rem;

}

.columnx2 {
    display: flex;
    flex-wrap: wrap;
}


.yhteystiedot {
    font-size: 3rem;
    background-color: yellow;
    width: 40%
}


 .kartta {

     width: 100%;
     padding: 0rem;
     box-shadow: 2rem 2rem 1rem rgba(0,0,0,50%);
 }





#testi1 {
    color: green;
    background: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0));

}

#testi2 {
    color: darkred;
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
}

#testikappale1 {
    height: 200px;
    background: red;
    backbround-size: cover;
    animation: animaatio1 10s infinite;}

    #testikappaletyyli2 {
    background: red;
    backbround-size: cover;
    animation: animaatio1 10s infinite;}

    @keyframes animaatio1 {
    from {background-color: red;}
    to {background-color: blue;}
     }




